body {
    background-color: #efefef;
    font: 400 14px Roboto,sans-serif;
    color: rgba(0,0,0,.87);
    overflow-x: hidden;
}
img {
    max-width: 100%;
    color: transparent;
}
a{
    color: #000000;
    transition: .2s;
    text-decoration: none;
    display: block;
}
a:hover{
    color: darkgrey;
}

.container {
    max-width: 1366px;
    width: calc(100% - 36px);
    margin: 0 auto 10px;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    border-radius: 4px;
}
p {
    font: 400 18px Roboto, sans-serif;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.87);
}
